@import "mixins.scss";

$fuente: "Poppins", sans-serif;
$fuenteTitulo: "PT Serif", serif;

$negro: #1a1a1a;
$grisOscuro: #1a1a1a99;
$blanco: #ffffff;
$gris: #ababab;
$verde: #ecf494;
$amarillo: #faf9d9;
$verdeBoton: #eaf586;

* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: $negro;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  background-color: $amarillo;
}

body {
  font-family: $fuente;
  font-size: 16px;
  background-color: $amarillo;
}

.testimonials {
  h4 {
    font-family: $fuente;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 14px; /* 87.5% */
    letter-spacing: 1px;
    background-color: $verde;
    text-align: center;
    padding: 10px;
  }
}

header {
  display: flex;
  align-items: center;
  padding: 15px 0;
  background-color: white;

  .logo {
    margin-left: auto;
  }
  nav {
    margin-left: auto;

    ul {
      display: flex;
      gap: 50px;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px; /* 133.333% */
      letter-spacing: 0.5px;
    }
  }

  .btns {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 50px;
    margin-right: auto;

    .btn--bag {
      position: relative;
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: -5px;
        right: -5px;
        background-color: #e2523e;
        width: 10px;
        height: 10px;
        border-radius: 50%;
      }
    }

    .btn--quiz {
      background-color: $negro;
      color: $blanco;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 150% */
      letter-spacing: 0.5px;
      padding: 10px 20px;
      border-radius: 8px;
    }
  }
}

.hero {
  background-image: url("../img/mom.jpg"), url("../img/jar.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position:
    58% top,
    right top;
  height: 65vh;

  &__content {
    position: absolute;
    top: 30%;
    h1 {
      font-family: Value Serif;
      font-size: 84px;
      font-style: normal;
      font-weight: 700;
      line-height: 70px; /* 109.375% */
      letter-spacing: 1px;
      width: 45%;
    }
    .btn--quiz {
      background-color: $negro;
      color: $verdeBoton;
      width: 250px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      margin-top: 60px;
    }
  }
}

.services {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;

  .service {
    display: flex;
    align-items: flex-start;
    width: 32%;
    gap: 20px;

    img {
      width: 40px;
      height: 40px;
    }

    .star {
      width: 80px;
      height: 80px;
      position:relative;
      bottom:20px;
      left:10px;
    }

    div {
      display: flex;
      flex-direction: column;
      gap:10px;

      h3 {
        font-family: $fuenteTitulo;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 100% */
        letter-spacing: 0.24px;
      }

      P {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.16px;
      }
    }
  }
}
